.fixed-top-1{
    width: 100%;
  position: fixed;
  margin-top: -55px;
  z-index: 1;
}
.fixed-top-2{
  margin-top: 55px;
  }

.cart-list{
    height: 70%;
  position: fixed;
  z-index: 2;
  top: 10;
  right: 0;
  overflow-x: hidden;
  /* padding-top: 20px; */
  margin-right: 2%;
}
